<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Job Application Has Been Submitted at leftcoastsearch.com</h1>
    <p>
      Please visit http://leftcoastsearch/jobs to view.
    </p>
  </body>
</html>
