<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Admin,
    <br>
    <p>This email is to notify you that a job application has been submitted at
       leftcoastsearch.com</p>
    <p>
    The application is for the following position:
    <br><br>
    Job ID: <%= @job.job_id %>
    <br>
    Job Title: <%= @job.title %>
    </p>
    <p>
      <%= "To view this application, please visit http://www.leftcoastsearch.com/jobs/#{@job.job_id}" %>
    </p>
  </body>
</html>
