<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>A Job Application Has Been Submitted at leftcoastsearch.com</h2>
    <p>
    Job ID: <%= @job.job_id %>
    <br>
    <%= @job.title %>
    </p>
    <p>
      <%= "Please visit http://www.leftcoastsearch.com/jobs/#{@job.job_id} to view." %>
    </p>
  </body>
</html>
