<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A New Custom Inquiry Has Been Sumbitted</h1>
    <p>
      Please visit http://leftcoastsearch/contacts to view.
    </p>
  </body>
</html>
