<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Admin,
    <br>
    <p>
      This email is to notify you that a resume has been submitted at
      leftcoastsearch.com
    </p>
    <p>
      Resume sent by: <%= @resume.first_name %> <%= @resume.last_name %>
    </p>
    <br>
    <p>
      Please visit http://leftcoastsearch/resumes to view.
    </p>
  </body>
</html>
