<div class="universal-page" id="resume-form">
  <div class="form-frame">
    <h1><b>Application for <%=@job.title %></b></h1>
    <h4><i>Thank you for your interest in applying for this position!
    Please fill out the fields below and your application will promptly be reviewed</i></h4>
    <hr>
    <br>
    <%= render 'form' %>
  </div>
</div>
