<div class="universal-page">
  <h1>Jobs</h1>
  <table id="job-table">
    <tr>
      <th>Position</th>
      <th>Location</th>
    </tr>
    <tr>
    <% @jobs.each do |job| %>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= job.location %></td>
    </tr>
    <% end %>
  </table>
</div>
