<div class="universal-page">
  <% if current_user %>
  <h1>Add New Job Posting</h1>
    <div id="forms">
      <div class="forms">
        <%= render 'form' %>
      </div>
    </div>
  <br>
  <% else %>
  Access to this page is restricted to Administrators only
  <% end %>
</div>
