<div class="universal-page" id="resume-form">
  <% if current_user %>
  <div class="form-frame">
    <h1><b>Add New Job Listing</b></h1>
    <hr>
    <%= render 'form' %>
    <% else %>
    Access to this page is restricted to Administrators only
    <% end %>
  </div>
</div>
