<div id="home-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/home-header.jpg") %>
  <div class="carousel-caption">
    <div id="carousel-text">
      CONNECTING GREAT COMPANIES<br>WITH GREAT PEOPLE
    </div>
  </div>
  <!-- <%= link_to "Send Us Your Resume", new_resume_path %> |
  <%= link_to "View Jobs", jobs_path %> -->
</div>
