<div id="home-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/home-header.jpg") %>
  <div class="carousel-caption">
    <div id="home-header-text">
      CONNECTING GREAT COMPANIES<br>WITH GREAT PEOPLE
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Send Us Your Resume", new_resume_path %>
      </div>
      <div class="col-md-6">
        <%= link_to "View Jobs", jobs_path %>
      </div>
    </div>
  </div>
</div>
