<%
meta title: "Left Coast Search | Contact Us",
     description: "Contact us today and let's talk about how Left Coast Search
      can help with your job search or staffing needs!"
%>
<div class="universal-page">
  <div class="container" id="new-contact">
    <div class="row">
      <div class="col-md-8">
        <h1><b>Contact Us</b></h1>
        <hr>
        <%= render 'form' %>
      </div>
      <div class="col-md-4">
        <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/logo-med.png") %>
        <br><br>
        PO Box 1025
        <br>
        Lake Oswego, Oregon
        <br>
        97034
        <br>
        (503) 387-3197
        <br><br>
        <%= link_to "Send Us Your Resume!", new_resume_path %>
      </div>
    </div>
  </div>
</div>
