<div id="candidate-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/candidate-header.jpg") %>
  <div class="carousel-caption">
    <div id="candidate-header-text">
      YOUR LAST JOB SEARCH
    </div>
  </div>
</div>
<div class="universal-page" id="candidate-page">
  <div>
    Our goal is to connect great people with great companies by completing a thorough
   interview process with every candidate we meet to ensure the right fit.
  </div>
  <br>
  <div>
  Left Coast Search offers resume review, interview coaching, networking opportunities and salary review.
  </div>
  <br>
  <div>
  We work diligently to offer a valuable, friendly, professional approach to assist
   you during the interview process. Interviewing can be stressful. Our job is to
   take the stress out of this process by offering a one of a kind experience through
    great customer service and communication.
  </div>
  <br>
  <div>
  We offer career assistance and placements in various verticals. We place skilled
   accounting, finance, human resources and administrative professionals. We work
    tireless to connect great people with great companies.
  </div>
  <br>
  <div>
  For our temporary employees, we offer complete benefit packages, easy to use online
   payroll and timekeeping systems, job opportunities with top companies, resume review,
    interview coaching and great customer service.
  </div>
  <br>
  <div>
  Left Coast Search understands making a change in your career is a big step.
   We are here to help you every step of the way. We will keep your search completely
    confidential and our team will speak with you about each opportunity before submitting your resume to our client.
  </div>
</div>
