<div id="employer-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/employers-header.jpg") %>
  <div class="carousel-caption">
    <div id="employer-header-text">
      A PERSONAL, CUSTOMIZED APPROACH
    </div>
  </div>
</div>
<div class="universal-page" id="employer-page">
  <div>
  We work diligently to offer a valuable, friendly, professional approach to assist
   you during the hiring process. Hiring can be stressful. Our job is to take the
    stress out of the search and allow you to focus on your day to day tasks.
  </div>
  <br>
  <div>
  We engage in a thorough interview process with every candidate including in-person
   interviews, reference checks and testing. Our services are all contingency based
    which means if we don't find you the right candidate through our thorough vetting
     process our services are free.
   </div>
   <br>
   <div>
  Left Coast Search takes a hands-on philosophy to understand your business and job
   duties to find the right person the first time. We offer a strong and diverse
   talent pool, great customer service, competitive pricing and ethical guarantees.
 </div>
 <br>
 <div>
  Our staffing services include temporary placement, temporary to full-time placement
   and direct-hire placement. We offer services across Oregon and SW Washington.
 </div>
 <br>
 <div>
  Our team focuses on connecting top talent with great opportunities in various vertical
   in the Portland area. We place skilled accounting, finance, human resources and
    administrative professionals.
  </div>
  <br>
  <div>
  Top Talent in these areas & more (may want to change that) I don't love the way it sounds
  <br>
   ( I would also like this list split into two so they are side by side instead of one long list of skill sets)

  - Accounts Payable
  - Accounts Receivable
  - Collections
  - Billing
  - Budget Analyst
  - Medical Billing
  - Project Accountant
  - Staff Accountant
  - Tax Accountant
  - Senior Accountant
  - Controller
  - Bookkeeper
  - Payroll
  - Full-Charge Bookkeeper
  - Chief Financial Officer
  - Assistant Controller
  -Accounting Manager
  - Financial Analyst
  - Inventory
  - Purchasing
  - Senior Financial Analyst
  - Payroll Managament
  - Support Staff
  - Human Resources
  - Administrative Assistance
  - Front Desk Coordinator
  - Executive Assistant
</div>
<br>
<div>
  For our temporary services we offer complete benefit packages for candidates,
   payroll services, insurance, volume discounts, guarantees and working interviews.
    Our temporary employees can assist for a short-term project, interim coverage
    and contract work. Many of our temporary employees are open to a full-time
    opportunity. We also have skilled temporary employees who love the versatility
     and flexibility of temporary employment.
</div>
<br>
<div>
  Is the work piling up? Let us help you find someone!
  <br>
  -Bookkeeping
  -Taxes
  -Year-End
  -Collections
  -Payroll
  -ERP Implementations
</div>

  Please inquire today about how Left Coast Search can help with your staffing needs! (if this is a good place to put that)
</div>
