<div id="employer-header">
  <div class="carousel-inner">
    <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/employers-header.jpg") %>
    <div class="carousel-caption">
      <div id="employer-header-text">
        A PERSONAL APPROACH
      </div>
    </div>
  </div>
</div>
<div class="universal-page" id="employer-page">
  <div>
  <h1><b>Our Process</b></h1>
    We work diligently to offer a valuable, friendly, personal approach to assist
    you during the hiring process. Hiring can be stressful. Our job is to take the
    stress out of the search and allow you to focus on your day to day tasks.
    We engage in a thorough interview process with every candidate including in-person
    interviews, reference checks and testing.
  </div>
  <hr>
  <div>
    <h2>How It Works</h2>
    Our services are all contingency based, which means if we don't find you the
    right candidate through our thorough screening process, our services are free.
    Left Coast Search takes a hands-on approach to understand your business and job
    duties to find the right person the first time. We offer a strong and diverse
    talent pool, great customer service, competitive pricing and ethical guarantees.
    Our staffing services include temporary placement, temporary to full-time placement
    and direct-hire placement. We offer services across Oregon and Southwest Washington.
 </div>
 <div>
   <h2>Speciality Fields</h2>
   Our team focuses on connecting top talent with great opportunities in various industries
   in Oregon and Southwest Washington. We place skilled accounting, finance, human resources and
   administrative professionals. Left Coast Search specializes in finding premier candidates
   in the following areas:
   <br><br>
   <div class="container" id="speciality-rows">
     <div class="row">
       <div class="col-md-4">
         Chief Financial Officer
         <br>
         Assistant Controller
         <br>
         Accounting Manager
         <br>
         Financial Analyst
         <br>
         Inventory
         <br>
         Controller
         <br>
         Bookkeeper
         <br>
         Payroll
         <br>
         Full-Charge Bookkeeper
       </div>
       <div class="col-md-4">
         Accounts Payable
         <br>
         Accounts Receivable
         <br>
         Collections
         <br>
         Billing
         <br>
         Medical Billing
         <br>
         Project Accountant
         <br>
         Staff Accountant
         <br>
         Tax Accountant
         <br>
         Senior Accountant
       </div>
       <div class="col-md-4">
         Purchasing
         <br>
         Senior Financial Analyst
         <br>
         Payroll Managament
         <br>
         Support Staff
         <br>
         Human Resources
         <br>
         Administrative Assistance
         <br>
         Front Desk Coordinator
         <br>
         Executive Assistant
         <br>
         Budget Analyst
       </div>
     </div>
   </div>
  </div>
  <hr>
  <div>
    <h2>Temporary Services</h2>
    We offer complete benefit packages for candidates,
    payroll services, insurance, volume discounts, guarantees and working interviews.
    Our temporary employees can assist for a short-term project, interim coverage
    and contract work. Many of our temporary employees are open to a full-time
    opportunity. We also have skilled temporary employees who love the versatility
    and flexibility of temporary employment.
  </div>
  <br>
  <div>
    Is the work piling up?
    <br><br>
    - Bookkeeping
    <br>
    - Taxes
    <br>
    - Year-End
    <br>
    - Collections
    <br>
    - Payroll
    <br>
    - ERP Implementations
    <br><br>
     We can help today by finding a talented candidate to provide temporary support!
  </div>
  <hr>
  <div>
    <h2>Let's Chat</h2>
      <%= link_to "Contact us", new_contact_path %> today to talk about how Left Coast Search can help with your staffing needs!
  </div>
</div>
