<div id="about-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/portland.jpg") %>
</div>
<div class="universal-page" id="about-page">
  <h1><b>Left Coast Search</b></h1>
  <div>
    <div>
      Left Coast Search is a premier staffing firm of accounting, finance, human resources
      and administrative professionals. With years of experience, our team has established
      and maintained a vast network in the marketplace. Our mission is to connect outstanding
      candidates with great companies by developing long lasting relationships with the employers
      and candidates that we work with. Through these relationships we can match the aspirations
      and desired career path of our candidates with the needs of our employers.
    </div>
    <hr>
    <div>
      <h3>Working For You</h3>
      We take pride in being the best staffing firm in the industry by providing
      quality career opportunities with outstanding candidates. We stay on top
      of market and salary trends and take a personal approach to understand your
      business and job duties in order to find the right candidate the first time.
      We offer strong candidates, outstanding customer service and competitive pricing.
    </div>
    <div>
      <h3>Services</h3>
      We offer services across Oregon and Southwest Washington markets including
      temporary placement, temporary to full-time placement and direct-hire placement.
      Left Coast Search offers resume reviews, interview coaching, networking opportunities
      and salary reviews. Our team focuses on working with top talent and employers
      in the accounting, finance, human resources and administrative professional fields.
    </div>
    <div>
      <h3>Bottom Line</h3>
      We work tirelessly to connect the great people we work with with the great
      employers that we represent. Whether you are seeking a new role, looking for
      career advice or need assistance hiring a top candidate for your open position, we are here to help!
    </div>
   </div>
  </div>
</div>
