<div id="about-header">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/leftcoastsearch/portland.jpg") %>
</div>
<div class="universal-page" id="about-page">
  <h1>Left Coast Search</h1>
  <div>
    <div>
      Left Coast Search is a premier staffing firm of accounting, finance, human resources
      and administrative professionals. Our team has established experience in the
      industry with a vast network in Portland, Oregon. Our mission at Left Coast
      Search is to provide excellent customer service, develop long-lasting relationships
      with our clients and candidates, help people through their career path and
      exceed our clients staffing expectations.
    </div>
    <div>
      <h3>Preporation Is Our Advantage</h3>
      Staying on top of market and salary trends is a must for the Left Coast Search team.
      We take pride in being the best in the industry and providing quality career
      opportunites and employees. We take a hands-on philosophy to understand your business and job duties to find
      the right person the first time. We offer a strong and diverse talent pool,
      great customer service, competitive pricing and ethical guarantees.
    </div>
    <div>
      <h3>Services</h3>
      Our staffing services include temporary placement, temporary to full-time placement
      and direct-hire placement. We offer services across Oregon and SW Washington.
      Left Coast Search offers resume review, interview coaching, networking opportunities
      and salary review. Our team focuses on connecting top talent with great
      opportunities in various vertical in the Portland area. We place skilled
      accounting, finance, human resources and administrative professionals.
    </div>
    <div>
      <h3>Bottom Line</h3>
      We work tireless to connect great people with great companies.
      Whether you are seeking a new role, looking for career advice or need assistance
      hiring the best caliber candidate your open position, we are here to help!
    </div>
   </div>
  </div>
</div>
