<%
meta title: "Left Coast Search | Send Us Your Resume",
     description: "We're always on the lookout for new talent. Send us a copy of
      your resume and we'll get to work finding your next great opportunity!"
%>
<div class="universal-page" id="resume-form">
  <div class="form-frame">
    <h1><b>Send Us Your Resume</b></h1>
    <h4><i>We're always on the lookout for new talent. Send us a copy of your resume
      and we'll get to work finding your next great opportunity!</i></h4>
      <hr>
    <%= render 'form' %>
  </div>
</div>
